<div [formGroup]="meta_form">
  <div class="row g-1 mb-1">
    <label for="genre" class="col-sm-2 col-form-label col-form-label-sm">Genre</label>
    <div class="col-sm-4">
      <select id="genre" class="form-select form-select-sm" formControlName="genre">
        <option [value]="null" selected>Genre</option>
        @for (t of genre_options; track t) {
          <option [value]="t">{{t}}</option>
        }
      </select>
    </div>
    <div class="row g-1 mb-1">
      <label for="title" class="col-sm-2 col-form-label col-form-label-sm">title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="title" name="title" formControlName="title">
        </div>
      </div>
      <div class="row g-1 mb-1">
        <label for="alt_titles" class="col-sm-2 col-form-label col-form-label-sm">alternative titles</label>
        <div class="col-sm-10">
          <ng-container formArrayName="alternativeTitles">
            @for (alt of alternativeTitles.controls; track alt; let ati = $index) {
              <ng-container [formGroupName]="ati">
                <pure-alt-title-form [alt_title_form]="alt"
                (notice)="handleAltTitleNotification($event, ati)"></pure-alt-title-form>
              </ng-container>
            }
          </ng-container>
        </div>
      </div>
      <div class="row g-1 mb-1">
        <label for="creatures" class="col-sm-2 col-form-label col-form-label-sm">creators</label>
        <div class="col-sm-10">
          <ng-container formArrayName="creators">
            @for (creature of creators.controls; track creature; let ci = $index) {
              <ng-container [formGroupName]="ci">
                <pure-creator-form [creator_form]="creature"
                (notice)="handleCreatorNotification($event, ci)"></pure-creator-form>
              </ng-container>
            }
          </ng-container>
        </div>
      </div>
      <div class="row g-1 mb-1">
        <label class="col-sm-2 col-form-label col-form-label-sm">Dates</label>
        <div class="col-sm-10">
          <div class="row g-1 mb-1">
            <div class="col-sm-2">
              <label class="col-form-label col-form-label-sm">Date Accepted</label>
              <input type="text" class="form-control form-control-sm" formControlName="dateAccepted">
              </div>
              <div class="col-sm-2">
                <label class="col-form-label col-form-label-sm">Date Created</label>
                <input type="text" class="form-control form-control-sm" formControlName="dateCreated">
                </div>
                <div class="col-sm-2">
                  <label class="col-form-label col-form-label-sm">Date Modified</label>
                  <input type="text" class="form-control form-control-sm" formControlName="dateModified">
                  </div>
                  <div class="col-sm-2">
                    <label class="col-form-label col-form-label-sm">Date Published in Print</label>
                    <input type="text" class="form-control form-control-sm" formControlName="datePublishedInPrint">
                    </div>
                    <div class="col-sm-2">
                      <label class="col-form-label col-form-label-sm">Date Published Online</label>
                      <input type="text" class="form-control form-control-sm" formControlName="datePublishedOnline">
                      </div>
                      <div class="col-sm-2">
                        <label class="col-form-label col-form-label-sm">Date Published Online</label>
                        <input type="text" class="form-control form-control-sm" formControlName="dateSubmitted">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row g-1 mb-1">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Thesis</label>
                    <div class="col-sm-10">
                      <div class="row g-1 mb-1">
                        <div class="col-sm-2">
                          <label class="col-form-label col-form-label-sm">Degree</label>
                          <input type="text" class="form-control form-control-sm" formControlName="dateAccepted">
                          </div>
                        </div>
                      </div>
                    </div>
                    <pure-event-form [event_form]="event"></pure-event-form>
                    <pure-legal-case-form [legal_case_form]="legalCase"></pure-legal-case-form>
                    <div class="row g-1 mb-1">
                      <label class="col-sm-2 col-form-label col-form-label-sm">Identifiers</label>
                      <div class="col-sm-10">
                        @for (identifier of identifiers.controls; track idi; let idi = $index) {
                          <pure-identifier-form [identifier_form]="identifier" [multi]="true"
                          (notice)="handleIdentifierNotification($event, idi)"></pure-identifier-form>
                        }
                      </div>
                    </div>
                    <div class="row g-1 mb-1">
                      <label for="languages" class="col-sm-2 col-form-label col-form-label-sm">Languages</label>
                      <div class="col-sm-10" id="languages" >
                        @for (language of languages.controls; track languageIndex; let languageIndex = $index) {
                          <pure-language-form [language_form]="language" [multi]="true" [languageIndex]=0
                          (notice)="handleLanguageNotification($event, languageIndex)"></pure-language-form>
                        }
                      </div>
                    </div>
                  </div>