  <!--
  <div class="nav-item dropdown-center">
    <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      <span>{{current_theme()}}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" (click)="select_theme('wfvs')">wfvs</a></li>
      <li><a class="dropdown-item" (click)="select_theme('default')">default</a></li>
    </ul>
  </div>
-->
  <div class="form-check form-switch">
    <input id="switch" class="form-check-input bg-light border border-dark" type="checkbox" role="switch"  (click)="switch_theme()">
    <!-- <label class="form-check-label" for="switch">{{current_theme()}}</label> -->
  </div>
  